openapi: 3.0.0
info:
  title: Tournament Platform API
  version: 0.1.0
  description: API for offline-first pool/billiards tournament management

servers:
  - url: https://api.tournament.com/v1
    description: Production server
  - url: https://staging.tournament.com/v1
    description: Staging server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TenantId:
      name: X-Tenant-ID
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant identifier (subdomain-based)

  schemas:
    Tenant:
      type: object
      required:
        - id
        - subdomain
        - name
      properties:
        id:
          type: string
          format: uuid
        subdomain:
          type: string
          pattern: '^[a-z0-9-]+$'
        name:
          type: string
        createdAt:
          type: string
          format: date-time

    Tournament:
      type: object
      required:
        - id
        - tenant_id
        - name
        - status
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
          description: Owner tenant
        name:
          type: string
        status:
          type: string
          enum: [draft, active, completed]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    Player:
      type: object
      required:
        - id
        - tenant_id
        - name
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        rating:
          type: number

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

security:
  - bearerAuth: []

paths:
  /tournaments:
    get:
      summary: List tournaments
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tournament'

    post:
      summary: Create tournament
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tournament'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'

  /tournaments/{id}:
    get:
      summary: Get tournament
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'

  /players:
    get:
      summary: List players
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'